.burger {
  display: flex;
  align-items: center;
  flex: .8;
}

.burger__description {
  width: 50%;
  padding-top: 120px;

  &--natural-burgers {
    display: inline-block;
    font-size: 65px;
    color: white;
    line-height: 1.1;
    @include lifehack();
    padding-top: 30px;
  }
}

.burger__img {
  margin-right: 10px;
}

