.calories {
  position: absolute;
  left: 0;
  bottom: 0;
  width: rem(90px);
  height: rem(75px);

  @include tablets {
    top: 0;
    right: 0;
    left: initial;
    bottom: initial;
  }
}

.calories__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  @include gagalin();
  font-size: rem(14px);
  color: white;
  opacity: .5;

}

.calories__img {
  width: rem(60px);
  height: rem(60px);
  // opacity: .5;
}

.calories__kkal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: rem(20px);
}
