.eater {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.eater__elem {
  width: 25%;
  height: 50%;
}

.eater__info--name {
  font-size: 14px;
  font-weight: 400;
  @include gagalin();
  margin-bottom: 25px;
}

.eater__info--feed {
  font-size: 14px;
  line-height: 24px;
  @include ubuntu(light);
  margin-bottom: 10px;

}