$itemsMargins: rem(12px);

.menu {
	@include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  flex: 1;
}

.menu__item {
  display: flex;
  align-items: center;

  &:before {
    content: "";
    display: block;
    width: rem(4px);
    height: rem(4px);
    border-radius: 50%;
    background: currentColor;
    margin-left: $itemsMargins;
  }

  &:first-child {
    &:before {
      display: none;
    }
  }
}

.menu__link {
  margin-left: $itemsMargins;
  text-decoration: none;
  text-transform: uppercase;
  font-size: rem(13px);
  font-weight: 500;
}
