.radio {
  position: fixed;
  top: rem(90px);
  right: rem(60px);

  @include tablets {
    display: none;
  }
}

.radio__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio__elem {
  margin-bottom: rem(5px);
}

.radio__elem--link {
  position: relative;
  display: block;
  width: rem(16px);
  height: rem(16px);
  border: rem(1px) solid transparent;
  border-radius: 50%;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background: white;
  }
}

.radio__active {
  .radio__elem--link {
    border-color: white;
  }
}