.scroll-down {
  position: absolute;
  bottom: rem(40px);
  left: 50%;
  transform: translateX(-50%);
  border: transparent;
  background-color: transparent;
}

.icon-arrow-scroll {
  width: rem(32px);
}