.scroll {
  width: rem(60px);
  display: flex;

  &--left {
    justify-content: flex-end;
  }

  &--right {
    justify-content: flex-start;
  }
}


.scroll__icon-left {
  width: rem(32px);
  transform: rotate(90deg);
}

.scroll__icon-right {
  width: rem(32px);
  transform: rotate(-90deg);
}