.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 650px;

  &--align-top {
    justify-content: flex-start;
  }
}

.section__title {
  font-size: 72px;
  color: $yellow;
  line-height: 1;
  margin-bottom: 50px;
  @include gagalin();

  &--centered {
    text-align: center;
  }

  &--color-black {
    color: $black;
  }
}

.feedback-section {
  background: black;
  height: 100vh;
  min-height: 650px;
}

.order-section {
  background: url("../img/order/bg.jpg") center center / cover no-repeat;
}