.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1020px;
}

.slider {
  display: flex;
  align-items: center;
}

.slider__list-container {
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 80vw;
  height: 60vh;
  max-width: 1000px;

  @include tablets {
    height: 90vh;
  }
}

.slider__list {
  display: flex;
  position: relative;
  transition: right .5s;
  height: 85%;

  @include tablets {
    height: unset;
  }
}


.slider__scroll {
  width: rem(32px);
  height: rem(32px);
  display: flex;
  cursor: pointer;
  background-color: transparent;
  border: none;

  &--left {
    justify-content: flex-end;
  }

  &--right {
    justify-content: flex-start;
  }
}

.slider__scroll-icon-left {
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
}

.slider__scroll-icon-right {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}