.slide {
  position: relative;
  display: flex;
  height: 90%;
  align-items: center;

  @include tablets {
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin-top: rem(160px);

  }
}

.slide__photo {
  // width: 50%;
  // height: 100%;
  display: flex;
  // flex-direction: column;
  justify-content: center;
}

.slide__photo-img {
  max-width: initial;
  width: 100%;

  @include tablets {
    width: 55%;
  }
}

.slide__content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablets {
    justify-content: flex-start;
    text-align: center;
    width: 90%;
    margin-top: rem(20px);
  }



}

.slide__description {
  font-size: rem(14px);
  color: white;
  line-height: rem(25px);
}

.slide__order {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  // padding-top: rem(20px);

  @include tablets {
    justify-content: center;
  }
}

.slide__price {
  color: $red;
  @include gagalin();
  font-size: rem(30px);

  &-num {
    font-size: rem(72px);
  }
}
