.btn {
  display: inline-block;
  background: $orange;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: rem(5px);
  font-size: rem(13px);
  font-weight: 500;
  padding: rem(10px) rem(15px);

  &--welcome {
    margin-left: rem(15px);
  }

  &--slider {
    color: white;
    height: rem(35px);
    margin-left: rem(30px);
    margin-bottom: rem(16px);
  }
  
  &--feedback {
    color: white;
    border-color: $black;
    border-style: none;

    @include phones {
      display: none;
    }
  }

  &--color-black {
    background: $black;
  }
}

.btn--feedback-phone {
  display: none;

  @include phones {
    display: inherit;
    margin: 0 auto;
  }
}
