.features {
  background: url("./img/better/bg.png") center center / cover no-repeat;
}

.features__container {
  justify-content: center;
}

.features__pluses {
  display: flex;
  justify-content: space-between;

  @include phones {
    flex-direction: column;
    justify-content: flex-start;
  }
}
