.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  min-width: rem(320px);
  // height: 100vh;
  height: 100%;
  min-height: rem(650px);

  &--align-top {
    justify-content: flex-start;
  }
}

.section__title {
  font-size: rem(72px);
  color: $yellow;
  line-height: 1;
  margin-bottom: rem(50px);
  @include gagalin();

  &--centered {
    text-align: center;
  }

  &--color-black {
    color: $black;
  }

  &--color-white {
		color: white;
	}

  @include laptop {
    font-size: rem(56px);
    margin-bottom: rem(40px);
  }

  @include tablets {
    margin-bottom: 3%;
  }

  @include phones {
    font-size: rem(54px);
  }
}

.feedback-section {
  background: black;
  height: 100vh;
  min-height: rem(650px);
}

.slider-section {
  background-color: $yellow;
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
}